---
export const prerender = false;
export const ssr = true;

import { DateTime } from "luxon";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import type { ArchUpdate } from "../types/ArchUpdate.types";

const { request } = Astro;
const origin = new URL(request.url).origin;
const latestRes = await fetch(new URL("/api/getLatest.json", origin));
const latest = (await latestRes.json()) as ArchUpdate;

const localFormattedDate = DateTime.fromISO(
  latest.publishDate as unknown as string
).toLocaleString(DateTime.DATETIME_FULL);
---

<DefaultLayout title={"pacman.Syu"}>
  <div class="w-full min-h-dvh flex items-center justify-center flex-col p-8">
    <h1 class="text-center">
      what do I need to do before I update arch so I don't break my install?
    </h1>
    <p class="lead text-center mt-4 mb-8">
      if you haven't updated since <u>{localFormattedDate}</u>, check the
      following:
    </p>
    <div class="max-w-[80%] mx-auto">
      <h2 class="text-left text-balance mb-4 hover:underline">
        <a
          href={latest.link}
          target="_blank"
        >
          {latest.title}
        </a>
      </h2>
      <div
        class="text-left rss-html"
        set:html={latest.html}
      />
    </div>
  </div>
</DefaultLayout>
