---
export const prerender = false;
export const ssr = true;

import DefaultLayout from "../layouts/DefaultLayout.astro";
import type { ArchUpdate } from "../types/ArchUpdate.types";

const { request } = Astro;
const origin = new URL(request.url).origin;
const latestRes = await fetch(new URL("/api/getLatest.json", origin));
const latest = (await latestRes.json()) as ArchUpdate;
---

<DefaultLayout title="pacman -Syu">
  <div
    class="w-full min-h-dvh flex items-center justify-center flex-col p-8 max-w-3xl mx-auto"
  >
    <h1 class="text-center">
      what do I need to do before I update arch so I don't break my install?
    </h1>
    <p class="lead text-center mt-4 mb-8">
      if you haven't updated since
      <span
        class="underline text-nowrap date-txt"
        data-pubdate={latest.publishDate}
      >
        {new Intl.DateTimeFormat("en-US", {
          dateStyle: "full",
          timeStyle: "long",
        }).format(new Date(latest.publishDate))}
      </span>, check the following
    </p>
    <script is:inline>
      (() => {
        const dateElement = document.querySelector(".date-txt");
        const rawDateVal = dateElement.getAttribute("data-pubdate");
        if (!rawDateVal) {
          return;
        }
        try {

        const parsedDate = new Date(rawDateVal);
        dateElement.textContent = parsedDate.toLocaleString("en-US", {
          dateStyle: "full",
          timeStyle: "long",
        });
        } catch {
          console.error('Unable to parse date, falling back to server date')
        }
      })();
    </script>
    <div class="h-[1px] w-full my-6 border-b border-b-sky-200 border-dashed">
    </div>
    <div class="max-w-[80%] mx-auto">
      <h2 class="text-left text-balance mb-4 hover:underline">
        <a
          href={latest.link}
          target="_blank"
        >
          {latest.title}
        </a>
      </h2>
      <div
        class="text-left rss-html"
        set:html={latest.html}
      />
    </div>
  </div>
</DefaultLayout>
