<footer class="max-w-sm text-sky-300 p-2 flex items-center">
  <span>
    made with &lt;3 by <a
      class="underline text-sky-100"
      href="https://alexmuen.ch"
      target="_blank"
      >alex muench</a
    >
  </span>
  <span> &nbsp;||&nbsp; </span>
  <span>
    <a
      class="underline text-sky-100"
      href="https://github.com/ammuench/pacman.syu"
      target="_blank"
      >github</a
    >
  </span>
</footer>
