---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

type Props = {
  title: string;
  description?: string;
};

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{props.title}</title>
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;1,900&display=swap"
    />
    <style is:global>
      pre {
        padding: var(--spacing);
        border: 1px solid var(--color-sky-300);
        border-radius: var(--radius-md);
        overflow-x: auto;
        font-size: calc(100% * 0.75);
        background-color: var(--color-zinc-900);
        color: var(--color-sky-400);
        margin: 0 0 1rem;
        border-top-right-radius: 0;
        scrollbar-width: none;
      }

      h1 {
        font-size: var(--text-3xl);
        font-weight: 900;
        color: var(--color-sky-100);
        line-height: 1.2;
      }

      h2 {
        font-size: var(--text-xl);
        font-weight: 800;
        color: var(--color-sky-200);
        line-height: 1.3;
      }

      h3 {
        font-size: var(--text-lg);
        font-weight: 700;
        color: var(--color-sky-300);
        line-height: 1.4;
      }

      p {
        font-size: var(--text-sm);
        color: var(--color-sky-300);
        line-height: 1.6;
        margin: 1rem 0;
      }

      .rss-html > p {
        border-left: solid 1px var(--color-sky-300);
        padding-left: calc(0.875rem / 2);
      }

      .lead {
        font-size: var(--text-base);
        color: var(--color-sky-200);
        font-style: italic;
        margin-bottom: 0;
        text-wrap: balance;
      }
      .copy-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      .copy-btn {
        cursor: pointer;
        padding: 0.25rem;
        font-size: calc(100% * 0.75);
        color: var(--color-zinc-700);
        background-color: var(--color-sky-300);
        border-top-left-radius: var(--radius-md);
        border-top-right-radius: var(--radius-md);
      }
    </style></head
  >

  <body class="bg-zinc-700 font-mono">
    <main>
      <slot />
    </main>
    <Footer />
  </body><script>
    document.querySelectorAll<HTMLPreElement>("pre").forEach((pre) => {
      pre.style.position = "relative";

      const copyBtnContainer = document.createElement("div");
      copyBtnContainer.className = "copy-btn-container";
      const copyBtn = document.createElement("button");
      copyBtn.textContent = "Copy code";
      copyBtn.className = "copy-btn";
      copyBtnContainer.append(copyBtn);
      pre.before(copyBtnContainer);

      copyBtn.addEventListener("click", async () => {
        try {
          const preCode = pre.querySelector("code");
          await navigator.clipboard.writeText(preCode.innerText);
          copyBtn.textContent = "Copied!";
          setTimeout(() => (copyBtn.textContent = "Copy code"), 2000);
        } catch (e) {
          console.error("Copy failed", e);
        }
      });
    });
  </script>
</html>
